body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #15161B;
}
header{
    display: flex;
    justify-content: center;
}

.logo h2{
    color: #fff;
    font-size: 30px;
}

.logo span{
    color: #1A7993;
}

.section-1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Oswald';
}

.area-title h3{
    color: #fff;
    font-weight: normal;
}

.area-title h1{
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    margin-top: -16px;
    font-family: 'Oswald';
}

.area-title a{
    display: inline-block;
    background-color: #1A7993;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.area-title a:hover{
    background-color: #fff;
    color: #1A7993;
    transition: 0.3s all;
}
.image1 img{
    width: 460px;
    height: auto;
    margin-top: 20px;
    margin-left:55px;
}

/*
Area Cards
*/

.section-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
}

.section-cards h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
}

.cards{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.card{
    background-color: #2C2F37;
    width: 200px;
    height: 180px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
}

.card:hover{
    background-color: #1A7993;
    transition: 0.3s all;
}
.card img{
    width: 65px;
}

/*
Section 3
*/

.section-3{
    background-color: #1A7993;
    height: 342px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
}

.area-title-2 h1{
    color: #fff;
    font-size: 35px;

}
.area-title-2 h3{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: -26px;
}

.area-title-2 a{
    display: inline-block;
    background-color: #fff;
    padding: 20px 85px;
    cursor: pointer;
}
.area-title-2 a:hover{
    background-color: #0e6279;
    color: #fff;
    transition: 0.3s all;
}

.image2 img{
    width: 280px;
    height: auto;
    margin-top: 5px;
    margin-left: 100px;
}
/*
Area Form
*/

.area-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
    
}

.area-form h2{
    color: #fff;
    text-align: center;
}

.formp{
    width: 400px;
    height: 300px;
}

.formp form{
    display: flex;
    flex-direction: column;
}

.formp input{
    margin-top: 20px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: 'Oswald';
}

input::placeholder{
    color: #000;
    text-transform: uppercase;
}

input[type="submit"]{
    background-color: #1A7993;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    height: 55px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #0e6279;
    color: #fff;
    transition: 0.3s all;
}

.social h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
    color: #fff;
}

.social img{
    display: inline;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}